title #{head.title}

meta(name="description", content=head.description)
meta(name="generator", content="Static Site Generator \"ByDef\"")

if head.keywords
    meta(name="keywords", content=head.keywords.join(', '))

link(rel="canonical", href=head.canonicalUrl)

//- Open Graph
    
meta(property="og:title", content=head.title)
meta(property="og:description", content=head.description)

if head.ogType
    meta(property="og:type", content=head.ogType)

if head.ogImage
    meta(property="og:image", content=head.ogImage)

meta(property="og:url", content=head.canonicalUrl)
meta(property="og:site_name", content="ByDef")